.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/hr.jpg') center/cover no-repeat;
  }

.hero-title{
    text-align: center;
    font-size: 2rem;
}
//For larger desktop, tagert the breakpoint of 1024px
@media(min-width: 1024px){
    .hero-image{
        font-size: 2.5rem;
    }
}

.shop-now-btn{
    text-align: center;
}